<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- debug/profile 用のマニフェストにしかINTERNETが無いので、
         releaseビルドで通信できるようここで宣言する。 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 広告IDを使わない。**Play Console の「広告ID」の申告と、AABの中身が
         一致していないとリリースできない**(申告が「使用しない」なのに
         この権限が入っていると弾かれる)。

         広告SDKは入れていないが、この権限は依存ライブラリのマニフェストから
         推移的に混入しうる(OneSignal / RevenueCat が候補)。混入の有無は
         AARを解決しないと分からないので、**入る・入らないに関わらず結果を
         「無い」に固定する**ためにここで消す。

         消して困るのは広告IDを使った計測(RevenueCatのアトリビューション等)を
         始めるときで、そのときはこの行を消して、Play Console の申告・
         データセーフティ・コンテンツレーティングも合わせて直すこと。 -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove"/>
    <!-- 会話(LiveKit)。MODIFY_AUDIO_SETTINGS はスピーカー/イヤホンの切り替えに要る。 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!-- ノートの撮影 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:label="ai-sensei"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
